<p>new-movie-listng works!</p>
<div class="movie-wrapper">
    <div class="moviePoster">
        <a routerLink="/about">
            <img src="https://image.tmdb.org/t/p/w500/b0Ej6fnXAP8fK75hlyi2jKqdhHz.jpg" alt="movie poster"/>
        </a>
    </div>
    <div class="torrent-user-info">
        <div nz-row>
            <div nz-col nzSpan="8" class="text-left">
                <i class="fa fa-solid fa-arrow-up" style="color: #15e015;"></i>
                <span> 123</span>
            </div>
            <div nz-col nzSpan="8" class="text-center">
                <i class="fa fa-solid fa-arrow-down" style="color: #e01515;"></i>
                <span> 123</span>
            </div>
            <div nz-col nzSpan="8" class="text-right">
                <i class="fa fa-solid fa-check" style="color: #1515e0;"></i>
                <span> 123</span></div>
        </div>
    </div>
    <div class="torrent-tmdb-info">
        <div nz-row>
            <div nz-col nzSpan="8" class="text-left">
                <span>2015</span>
            </div>
            <div nz-col nzSpan="16" class="text-right">
                <span>5.5</span>
            </div>
        </div>

    </div>
    <a routerLink="/about" class="movie-title">movie name</a>
</div>
