*{
    margin: 0;
    padding: 0;
}

.movie-list-wrapper {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.movie-wrapper {
    border-radius: 5px;
    box-shadow: 0 0 10px #3c3c3c;
    width: 100%;
    max-width: 230px;
    height: auto;
    padding: 5px;
    background-color: #fff;
}

.movie-poster-wrapper{
    position: relative;
    width: 100%;
    max-width: 220px;
}

.movie-poster-wrapper img{
    width: 100%;
    max-width: 220px;
}

.movie-title-wrapper {
    width: 100%;
    line-height: 1;
    font-size: 18px;
    color: #363636;
    padding-top: 5px;
}

.movie-title-wrapper a{
    color: #363636;
}

.torrent-user-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 5px;
    line-height: 2;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.torrent-imdb-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 2;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    color: white;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


