<mat-card>
    <mat-card-header>
        <mat-card-title>调查表</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <form>
                <mat-form-field>
                    <mat-label>姓 名：</mat-label>
                    <input matInput placeholder="输入你的名字">
                </mat-form-field>
            </form>
            <mat-radio-group aria-label="选择你的性别">
                <label>选择你的性别:</label>
                <mat-radio-button value="1">男</mat-radio-button>
                <mat-radio-button value="2">女</mat-radio-button>
            </mat-radio-group>
            <li>姓 名：<input type="text"></li>
            <li>性 别：</li>
            <li>城 市：</li>
            <li>爱 好：</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>提交</button>
    </mat-card-actions>
</mat-card>

