<p>bbcode-editor works!</p>

<form action="" method="post">
    <div id="bbcodeEditorWrap">
         <textarea id="bbcodeEditorArea">
             [center][size=3][b]sakura PT[/b][/size][/center]

            快来试试这些样式吧！

            [color=#ff00]这是红色字体! [/color][color=#3399ff]这是蓝色?[/color]

            [ul][li]一个简单的列表[/li]
             [li]列表条目 2[/li][/ul]

            只需要输入 [b]:[/b]) 然后就可以自动变为 :) ！
        </textarea>

    </div>
    <div id="generatedHtml" style="width: 900px; height: 400px; color: #2e3436; line-height: 10px; background-color: #cccccc; border-radius: 10px;"></div>
    <button nz-button nzType="default" type="button" (click)="genHTML()">genHTML</button>
    <button nz-button nzType="default" type="button" (click)="genBBCode()">genBBCode</button>

</form>

