<script src="sceditor/minified/sceditor.min.js"></script>
<script src="sceditor/minified/formats/bbcode.js"></script>

<p>bbcode-editor works!</p>

<form action="" method="post">
    <div>
				<textarea id="example" style="height:300px;width:600px;">[center][size=3][b]BBCode SCEditor[/b][/size][/center]

Give it a try! :)

[color=#ff00]Red text! [/color][color=#3399ff]Blue?[/color]

[ul][li]A simple list[/li][li]list item 2[/li][/ul]

Just type [b]:[/b]) and it should be converted into :) as you type.</textarea>

    </div>

    <div>
        <label for="theme">Theme:</label>
        <select id="theme">
            <option value="default">Default</option>
            <option value="defaultdark">Default dark</option>
            <option value="modern">Modern</option>
            <option value="office-toolbar">Office Toolbar</option>
            <option value="office">Office</option>
            <option value="square">Square</option>
        </select>
    </div>
</form>

<script>
    var textarea = document.getElementById('example');
    sceditor.create(textarea, {
        format: 'bbcode',
        style: 'minified/themes/content/default.min.css'
    });

    var themeInput = document.getElementById('theme');
    themeInput.onchange = function() {
        var theme = 'minified/themes/' + themeInput.value + '.min.css';

        document.getElementById('theme-style').href = theme;
    };
</script>
