<nz-layout>
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu nzMode="horizontal" nzTheme="light">
            <li nz-menu-item nzSelected>
                <a routerLink="/">Home</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/about">About</a>
            </li>
            <li nz-menu-item>
                <a routerLink="/app-home"  routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
            </li>
        </ul>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
        Footer
    </nz-footer>
</nz-layout>