nz-header,
nz-footer {
    width: 100%;
}

:host ::ng-deep .ant-back-top .ant-back-top-content {
    background-color: #ff8d05;
}

nz-header {
    height: 64px;
    background: #7dbcea;
    padding: 0 10px;
}

nz-footer {
    background: #7dbcea;
    height: 500px;
}

nz-content {
    background: rgba(16, 142, 233, 1);
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    min-height: 3000px;
    margin: 0 auto;
}

nz-layout {
    margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
    margin: 0;
}


.ant-menu-class {
    width: fit-content;
    float: left;
}

.ant-input {
    height: 32px;
    padding-left: 5px;
}

.logo > a > img {
    width: 56px;
    vertical-align: middle;
}

.info-item {
    /*color: #aaa;*/
    margin: 0;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    position: relative;
    border-bottom: dotted 1px #000;
}

.info-item .item-data {
    position: absolute;
    left: 130px;
}

.copyright {
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
}

nz-footer .footer-wrapper {
    width: 100%;
    max-width: 1600px;
    min-width: 1000px;
    margin: 0 auto;
}

nz-footer .footer-wrapper ul li {
    list-style: none;
    text-align: center;
}

.lang-list {
    margin-top: 5px;
    margin-left: 10px;
    border: none;
}

.lang-list img {
    width: 36px;
}

/* heart beat animation */
.with-love {
    color: red;
    display: inline-block;
    margin: 0 5px;
    animation: icon-animate 1.33s ease-in-out infinite;
}

.hover-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hover-container:hover .icon-class {
    animation: bounce 0.3s ease-in-out;
}

@keyframes icon-animate {
    0%, 100% {
        transform: scale(1);
    }

    10%, 30% {
        transform: scale(.9);
    }

    20%, 40%, 60%, 80% {
        transform: scale(1.1);
    }

    50%, 70% {
        transform: scale(1.1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-0.5rem);
    }
}
