* {
    margin: 0;
    padding: 0;
}

nz-header,
nz-footer {
    width: 100%;
    z-index: 50;
}

:host ::ng-deep .ant-back-top {
    z-index: 100;
}

:host ::ng-deep .ant-back-top .ant-back-top-content {
    background-color: #ff8d05;
}

nz-header {
    height: 64px;
    background: #7dbcea;
    padding: 0 10px;
    position: fixed;
}

nz-footer {
    background: #7dbcea;
    height: 500px;
}

nz-content {
    background: rgba(16, 142, 233, 1);
    width: 100%;
    min-width: 1000px;
    max-width: 1600px;
    min-height: 3000px;
    margin: 0 auto;
}

nz-layout {
    margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
    margin: 0;
}

.logo {
    display: inline-block;
    /*margin-left: 20px;*/
}

.logo > a > img {
    width: 56px;
    vertical-align: middle;
}

.ant-menu-class {
    display: inline-block;
}

.ant-menu-item > a {
    /*margin: 20px 0 20px 0;*/
}

.ant-menu-item > a:hover {
    /*font-size: larger;*/
}

.info-item {
    /*color: #aaa;*/
    margin: 0;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    position: relative;
    border-bottom: dotted 1px #000;
}

.info-item .item-data {
    position: absolute;
    left: 130px;
}

.copyright {
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
}

nz-footer .footer-wrapper {
    width: 100%;
    max-width: 1600px;
    min-width: 1000px;
    margin: 0 auto;
}

nz-footer .footer-wrapper ul li {
    list-style: none;
    text-align: center;
}

.lang-list {
    margin-top: 5px;
    margin-left: 10px;
    border: none;
}

.lang-list img {
    width: 36px;
}

/* heart beat animation */
.with-love {
    color: red;
    display: inline-block;
    margin: 0 5px;
    animation: icon-animate 1.33s ease-in-out infinite;
}

@keyframes icon-animate {
    0%, 100% {
        transform: scale(1);
    }

    10%, 30% {
        transform: scale(.9);
    }

    20%, 40%, 60%, 80% {
        transform: scale(1.1);
    }

    50%, 70% {
        transform: scale(1.1);
    }
}
