<nz-layout>
    <nz-header>
            <div class="logo">
                <a routerLink="/">
                    <img src="assets/icons/icon-512x512.png" alt="logo" />
                </a>
            </div>
            <div class="ant-menu-class">
                <ul nz-menu nzMode="horizontal" nzTheme="light">
                    <li nz-menu-item nzSelected>
                        <a routerLink="/">{{ 'HOME' | transloco }}</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/about">{{ 'ABOUT' | transloco }}</a>
                    </li>
                    <li nz-submenu nzPlacement="bottomLeft" nzTitle="Navigation Three - Submenu" nzIcon="setting">
                        <ul>
                            <li nz-menu-group nzTitle="Item 1">
                                <ul>
                                    <li nz-menu-item>Option 1</li>
                                    <li nz-menu-item>Option 2</li>
                                </ul>
                            </li>
                            <li nz-menu-group nzTitle="Item 2">
                                <ul>
                                    <li nz-menu-item>Option 3</li>
                                    <li nz-menu-item>Option 4</li>
                                    <li nz-submenu nzTitle="Sub Menu">
                                        <ul>
                                            <li nz-menu-item nzDisabled>Option 5</li>
                                            <li nz-menu-item>Option 6</li>
                                        </ul>
                                    </li>
                                    <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
                                        <ul>
                                            <li nz-menu-item>Option 5</li>
                                            <li nz-menu-item>Option 6</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>
        <div class="footer-wrapper">
            <div nz-row nzGutter="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                <div nz-col nzSpan="12">
                    <div nz-row nzGutter="{ xs: 8, sm: 16, md: 24, lg: 32 }">
                        <div nz-col nzSpan="12" class="info-item">
                            <span>{{ 'TOTAL_USERS' | transloco }}</span>
                            <span class="item-data">123456</span>
                        </div>
                        <div nz-col nzSpan="12" class="info-item">
                            <span>{{ 'BANNED_USERS' | transloco }}</span>
                            <span class="item-data">123456</span>
                        </div>
                        <div nz-col nzSpan="12" class="info-item">
                            <span>{{ 'TOTAL_UPLOAD' | transloco }}</span>
                            <span class="item-data">123456</span>
                        </div>
                        <div nz-col nzSpan="12" class="info-item">
                            <span>{{ 'TOTAL_DOWNLOAD' | transloco }}</span>
                            <span class="item-data">123456</span>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <ul class="list-unstyled">
                        <li>
                            <button (click)="changeLang('cn')" class="lang-list">
                                <img src="assets/flags/cn.svg" alt="China flag">
                            </button>
                            <button (click)="changeLang('en')" class="lang-list">
                                <img src="assets/flags/gb.svg" alt="England flag">
                            </button>
                            <button (click)="changeLang('tw')" class="lang-list">
                                <img src="assets/flags/tw.svg" alt="Taiwan flag">
                            </button>
                            <button (click)="changeLang('jp')" class="lang-list">
                                <img src="assets/flags/jp.svg" alt="Japan flag">
                            </button>
                        </li>
                        <li translate="GIT_REPO">Power by <a href="https://github.com/taobataoma/meanTorrent" target="_blank">&copy; meanTorrent</a></li>
                        <li [innerHTML]="'MIT_PROTOCOL' | transloco "></li>
                    </ul>
                    <div class="icon-list">
                        <i class="icon ion-social-github"></i>
                        <i class="icon ion-social-nodejs"></i>
                        <i class="icon ion-social-html5-outline"></i>
                        <i class="icon ion-social-css3-outline"></i>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>
                    © sakura pt
                    <span class="with-love">
                        <i class="fa fa-heart" style="color: red"></i>
                    </span>
                    2024
                </p>
                <p [innerHTML]="'POWERED_BY' | transloco "></p>
            </div>
        </div>
    </nz-footer>
</nz-layout>
<nz-back-top [nzVisibilityHeight]="100" /> <!-- back to top -->
